




#title{
  color: #fff;
  position: relative;
  padding: 3% 15% 5%;

}

a {
  color: cyan;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.brand-title{
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;

}

#ctshit{
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E,#23A6D5, #23D5AB);
  background-size: 200% 200%;
  position: relative;
  animation: change 10s ease-in-out infinite;
  padding: 7% 14%;
  text-align: center;
}

h1{
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #ffffff;
}







h4{
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: black;
}

#particles-js {
  background: linear-gradient(-45deg, #EE7752, #E73C7E,#23A6D5, #23D5AB);
  background-size: 300% 200%;
  animation: change 15s ease-in-out infinite;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}



.links{
  font-family: 'Russo One', sans-serif;
  font-weight: 300;
  font-size: 1.20rem;
  cursor: pointer;
}

.particles-js-canvas-el {
height: 100vmax !important;
z-index: 0;
}


body{
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
}


#overlay {
  position: relative;

}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}





.nav-item{

  padding: 0 18px;
}


.navbar{

  padding: 0 0 4.5rem;
}


.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: white;
}

.title-quote{

  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white

}

.video{
  padding-bottom: 5%;

}

.tab2 {
  tab-size: 1;
}




.title-quote2{
  padding-bottom: 3%;;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  
  background: -webkit-linear-gradient(#E73C7E, #EE7752);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.title-sub{

}


.btn-download{
  margin: 5% 3% 5% 0;
}

.fab-icon{
  margin-right: 8px;
}

.title-img{
  width: 90%;
  transform: rotate(25deg);
  position: absolute;
  left: 10%


}

video {
  max-width: 100%;
  height: 200%;
}


.img { 
 
  background-image: url('https://i.imgur.com/47mch3P.jpeg'); 
  background-size: cover;
}






.title-img2{
  width: 150%;
  
  position: relative;
  left: 28%;
  



}
#disclaimer{
  font-style: normal;
  color: #fff;
  background: #0B1454;
  background-size: 200% 200%;
  position: relative;
  padding: 6% 12%;
  text-align: center;

}
.disclaimer-title{
  font-weight: 100;
  line-height: 1;
  color: white;
  font-size: 1rem;
}

.column-two{
  text-align: ;
}

/* Features */
#features{
  padding: 4% 30%;
  
  position: relative;
  background-color: white;
  color: 	#3b444b;
  line-height: 1rem;

}



html {zoom: 100%;}

#buy{
  padding: 2% 31.5%;
  
  position: relative;
  background-color: white;
  

}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 80px; /* Place the button at the bottom of the page */
  right: 30px;
   /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: -webkit-linear-gradient(#E73C7E, #EE7752);/* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background: -webkit-linear-gradient(#450920, #A53860); /* Add a dark-grey background on hover */
}


#roadmap{
  padding: 1% 28%;
  padding-top: 1%;
  
  position: relative;
  background-color: white;
  
  

}


img {
  display: inline-block;
  margin: 25px 10px;
}

html{
  scroll-behavior: smooth;
}


.first{
  text-align: left;
}
.second{
  text-align:left;
  color:#878787;
}

.description{
  line-height: 2rem;
  font-size: 1.5rem;
  
}
.fa-icon{
  margin: 1rem;
}

.feature-title{
  font-size: 1.5rem;
  font-weight: 900;
  
}





p{
  color: grey;
}

.feature-col{
  padding: 0;
  margin: 0;
}

/* Testimonial Section */
#testimonials,#press{
  background-color: #d4574e;
  text-align: center;
  color: white;
}

.testimonial-image{
  border-radius: 50%;
  width: 10%;
  margin: 2px;
}

@media screen and (max-width: 320px){
  .title-img{
    position: relative;
    height: 50px;
    width: 75px;
  }
  .title-quote{
    text-align: center;
    font-size: 2.5rem;
  }
  .title-sub{
    position: relative;
    font-size: 0.60rem;
  }
}
.testimonial-text{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item{
  padding: 7% 14%;
}

/* Press Section */
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


#press{
  padding: 3%;
}

/* Pricing Section */


/* CTA Section */
#cta{
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E,#23A6D5, #23D5AB);
  background-size: 200% 200%;
  position: relative;
  animation: change 10s ease-in-out infinite;
  padding: 7% 14%;
  text-align: center;
}


#ctful{
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E,#23A6D5, #23D5AB);
  background-size: 200% 200%;
  position: relative;
  animation: change 10s ease-in-out infinite;
  padding: 3% 14%;
  text-align: center;
}





.cta-title{
  font-weight: 900;
  line-height: 1.5;
  color: white;
  font-size: 3.5rem;
}




/* Footer Section */
#footer{

  text-align: center;
  position: relative;
}


}































section{

}
@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}



*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;

}
.container1{
	max-width: 1170px;
	margin:auto;
  padding-top: 150px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
  position: relative;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;

}

#partner{
  font-style: normal;
  background: white;
  background-size: 200% 200%;
  position: relative;
  padding: 1% 6%;
  text-align: center;

}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.Copyright{
  margin-top: 50px;
  padding-bottom: 0px;
}

.section-padding {
	padding: 60px 0;
}
.brand-carousel {
	background: white;
	
}
.owl-dots {
	text-align: center;
	margin-top: 1%;
}
.owl-dot {
	display: inline-block;
	height: 15px !important;
	width: 15px !important;
	background-color: #878787 !important;
	opacity: 0.8;
	border-radius: 50%;
	margin: 0 5px;
}
.owl-dot.active {
	background-color: #000 !important;
}





















@media screen and (max-width: 320px){
  #particles{
    overflow: fixed;

  }

  .title-img{

    margin-top: 30px;
    height: 115px;
    width: 230px;
    position: relative;
    left: 10px


  }
  .title-quote{
    text-align: center;
    font-size: 2.5rem;
  }
  .title-sub{
    position: relative;
    font-size: 0.60rem;
  }
  

}




@media screen and (max-width: 768px){
  html, body {
    margin:0;
    padding:0;
    overflow-x: hidden;


  }
  .title-img{
    position: relative;
  }
}
@media screen and (max-width: 375px){
    .title-img{
      position: relative;
    }
}

@media screen and (max-width: 2560px){
  .title-img{
    position: relative;
    left: 25%;
  }
}
@media screen and (max-width: 2732px){
  .title-img{
    position: relative;
    left: 25%;
    height: 70%;
  }
}

@media screen and (max-width: 2726px){
  .title-img{
    position: relative;
    left: 25%;
      height: 70%;
  }
}

@media screen and (max-width: 2048px){
  .title-img{
    position: relative;
    left: 25%;
    height: 70%;
  }
}



@media screen and (max-width: 1440px){
  html, body {
    margin:0;
    padding:0;
    overflow-x: hidden;


  }
  .title-img{
    position: relative;
    left: -90px;
    height: 300px;
    width:600px;
  }
}


@media screen and (max-width: 1024px){
  html, body {
    margin:0;
    padding:0;
    overflow-x: hidden;


  }
  .title-img{
    margin-top: 30px;
    left: 30px;
    position: relative;
    height: 200px;
    width:400px;
  }
  .title-quote{
    font-size: 2.25rem;
  }
}
